@import url('https://fonts.googleapis.com/css?family=Anton|Lato|Roboto|Vast+Shadow');
html {
    position: relative;
    min-height: 100%;
}

body
{

}

button
{
    color:white;
}

h1
{
    color: white !important;
}

.face
{

background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.face2
{

background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.cubebox
{
    width: 600px;
    border: 2px solid #404040;
    padding: 30px;
}

.cubebox2
{
    width: 300px;
    border: 2px solid #404040;
    padding: 30px;
}

/*
div{border: 1px solid blue;}
a{border: 1px solid red;}   
i{border: 1px solid green;}
span{border: 1px solid yellow;}
img{border: 1px solid pink;}
hr{border: 1px solid orange;}
*/


.jumbotron{
    background-color: transparent !important;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#mainpage h1{
    font-family: 'Lato', sans-serif;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#screen
{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 5px solid black;
    border-radius: 25px;
    height: 900px;
    overflow-y: hidden;

}

/********* style for blog page *********/

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600');

#blogpage{

    /*overflow: scroll;*/
}

#nav {
    font-size: 15px;
    font-family: 'Roboto', sans-serif !important;
}
a {
   color:#333;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}


.img-responsive {
  width: 100%;
   opacity: 0.85 !important;
}
/* ------ main-page ------ */
.main-page{
    max-width:1000px;
    margin:0 auto;
}
.container{
    max-width:1000px;
    margin:0 auto;
}


/* ------ main-banner ------ */
.main-banner{
    margin-bottom:20px;
}

/* ------ page ------ */
.page{

background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(#FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(#FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /*background-color:#fff;*/
    border-radius: 15px; 
    padding:10px 10px;
    margin-bottom:10px;
}
.page h3{
    font-size:15px;
    margin-bottom:12px;
}
.page p{
    font-size:12px;
    font-weight:500;
}
.page .details ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom:18px;
}
.page .details ul li{
   float:left;
   padding-right:15px;
   font-size: 13px;
   font-weight: 600;
}
.page .details ul li:last-child {
  float: inherit;
}
.page h4{
    font-size:13px;
    font-weight:600;
}


/* ------ wedgets ------ */
.widgets{
    background-color:#fff;
    padding:20px 15px;
    margin-bottom:20px;
}
.widgets h3{
    padding-bottom:10px;
    font-size:20px;
    margin-bottom:15px;
    border-bottom:1px solid #eaeaea;
}
.widgets ul{
    list-style: none;
    padding-left: 0px;
}
.widgets ul li{
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.widgets h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.3px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}

#phone
{
    width: 200px;
    height: auto;
    padding-right: 20px;
}

#chargingport
{
    width: 200px;
    height: auto;
}
   
.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
  
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
  
    font-weight: 700;
    font-size: 1.5em;
}
    
.slideshow{
    padding-top: 10%; 

}



/****************** style for videos page ******************/
.section-header {
  text-align: center;
  margin: 0 auto;
  font: 300 3rem 'Lato', sans-serif;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #222;
}

.section-header-underline {
  border: 1px solid #222;
  width: 7rem;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* #work */.video-gallery {
    position: relative;
    margin: 0 auto;
    /*padding: 1em 0 4em;*/
    max-width: 1000px;
    /*list-style: none;*/
    text-align: center;
  font-family: 'Raleway', sans-serif;
}

/* #work */ .video-gallery .gallery-item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 580px; /* was 480px */
    max-height: 360px;
    width: 48%;
    background: #000;
    /*text-align: center;*/
    cursor: pointer;
  
  background: #000;
}

/* #work */ .video-gallery .gallery-item img {
    position: relative;
    display: block;
    /*min-height: 100%;
    max-width: 100%;*/
    opacity: 0.8;
  
  max-width: none;
    /*width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);*/
  width: 105%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* #work */ .video-gallery .gallery-item .gallery-item-caption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    /*-webkit-backface-visibility: hidden;
    backface-visibility: hidden;*/
}

/*.video-gallery .gallery-item .gallery-item-caption::before,
.video-gallery .gallery-item .gallery-item-caption::after {
    pointer-events: none;
}*/

/* #work */ .video-gallery .gallery-item .gallery-item-caption,
/* #work */ .video-gallery .gallery-item .gallery-item-caption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.video-gallery .gallery-item .gallery-item-caption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}*/

/* #work */ .video-gallery .gallery-item h2 {
    word-spacing: -0.15em;
    font-weight: 300;
  
  position: relative;
    overflow: hidden;
    padding: 0.5em 0;
}

/* #work */ .video-gallery .gallery-item h2 span {
    font-weight: 800;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
    margin: 0;
}

.video-gallery .gallery-item p {
    letter-spacing: 1px;
    font-size: 68%;
  
  padding: 1em 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

/* Moved to previous selector: 
.gallery-item {
    background: #000;
}*/

.video-gallery .gallery-item:hover img {
    opacity: 0.4;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.video-gallery .gallery-item .gallery-item-caption {
    text-align: left;
}

/* Moved to previous selector:
.video-gallery .gallery-item h2 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
}*/

.video-gallery .gallery-item h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

/* #work */ .video-gallery .gallery-item:hover h2::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* MOVED TO PREVIOUS .video-gallery .gallery-item p selector:
.video-gallery .gallery-item p {
    padding: 1em 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}*/

.video-gallery .gallery-item:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

@media screen and (max-width: 50em) {
    .video-gallery .gallery-item {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}

#chargerbox
{
    border: 5px solid #1a1a1a;
    background-color: #595959;
    border-radius: 25px;
}

.callbuttons
{
    border: 2px solid #1a1a1a;
    background-color: #d9d9d9;
    border-radius: 5px;
}

#callemergency
{
background: #cb2d3e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#callinfo
{
    background: #457fca;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#callcenter
{
    background: #ADD100;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7B920A, #ADD100);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7B920A, #ADD100); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

